doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    style.
      *{
          margin: 0;
          padding: 0;
          background: snow;
      }
      header{
        padding: 10px;
        background: #E8F5FD;
      }
      form{
        max-width: 480px;
        margin: auto;
        text-align: right;
      }
      header textarea{
        width: 450px;
        height: 32px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #e6ecf0;
        padding: 5px 8px;
        resize: none;
        box-sizing: border-box;
      }
      button[type="submit"]{
        appearance: none;
        width: 50px;
        text-align: center;
        background: #4AB3F4;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        border: none;
      }
      main{
        padding:50px;
      }
      .box{
        display:block;
        position:relative;
        max-width: 400px;
        margin: auto;
        text-align: center;
      }
      footer{
        width: 100%;
        height:50px;
        background-image: url("/images/kusa.png");
        position: fixed;
        bottom: 0px;
      }

    title 野生の匿名掲示板
  body
    main
      .box
        h2 Passwordを入れてください
        input#pass(name="admin" placeholder="パスワードをどうぞ")
        p
          button.tweet#psbtn(type="submit") OK
      script.
        const passInput = document.getElementById('pass');
        const passBtn = document.getElementById('psbtn');

        passBtn.onclick = () =>{
        const passValue = passInput.value;
        if(passValue === "管理人になりたい"){
          location.href = "/posts?7d1e7fb9-add6-4903-be46-3eed284acc16";
        }}
    footer